* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* * ::-webkit-scrollbar{
  overflow:auto
    } -스크롤 없애기 */
body {
    font-size: 10pt;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    overflow-y: auto;
    /* 세로스크롤 남기기 */
}

a {
    color: black;
    text-decoration: none;
}

header,
nav,
section,
aside,
footer {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 150,
        'GRAD' 0,
        'opsz' 24
}

#gallery {
    position: relative;
    display: flex;
    overflow-x: hidden;
    width: 100%;
    height: 740px;
    overflow-x: scroll;
    margin-top: 90px;
    scroll-snap-type: x mandatory;
    /* 스크롤 스냅 타입 설정 */
    /* scrollbar-width: none; */
    /* 스크롤바 숨김 */
}

.image {
    flex: 0 0 auto;
    width: 580px;
    /* 이미지의 너비 설정 */
    height: 680px;
    /* 이미지의 높이 설정 */
    object-fit: cover;
    scroll-snap-align: start;
}

#gallery::-webkit-scrollbar {
    width: 100%;
    height: 5px;
}

#gallery::-webkit-scrollbar-track {
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
}

#gallery::-webkit-scrollbar-thumb {
    background-color: rgb(129, 129, 129);
    height: 6px;
    border-radius: 10px;
}

#gallery::-webkit-scrollbar-button {
    display: none;
}

#sub_main {
    position: relative;
    width: 100%;
    height: 850px;
}

#sub_main>div>h2 {
    position: absolute;
    font-size: 1.6rem;
    bottom: 130px;
    left: 30px;
    color: #ffffff;
}

#sub_main>div>p {
    position: absolute;
    bottom: 10px;
    left: 30px;
    color: #ffffff;
}



#banner_all {
    position: fixed;
    width: 100%;
    clear: both;
    height: 50px;
    /* min-width: 1400px;  */
    z-index: 10;
    top: 0px;
    background-color: #ffffff;
}

.banner_each {
    position: relative;
    width: 100%;
}

.banner_each>a>img {
    position: relative;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.banner_each_01 {
    position: absolute;
    top: 0;
    left: 15px;
    display: block;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.0rem;
    color: black;
    font-weight: 600;
    height: 50px;
    z-index: 10;
    cursor: pointer;
}

.banner_each_02 {
    position: absolute;
    top: 0;
    right: 180px;
    display: block;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.0rem;
    color: black;
    font-weight: 600;
    height: 50px;
}

.banner_each_03 {
    position: absolute;
    top: 0;
    right: 100px;
    display: block;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.0rem;
    color: black;
    font-weight: 600;
    height: 50px;
}

.banner_each_04 {
    position: absolute;
    top: 0;
    right: 15px;
    display: block;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.0rem;
    color: black;
    font-weight: 600;
    height: 50px;
}


.sub_ment {
    position: relative;
    height: 70px;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.sub_ment>p {
    float: left;
    margin-left: 30px;
    font-size: 0.9rem;
}

.s_m_01 {
    border-bottom: 2px solid black;
}

#sub_img {
    position: relative;
    width: 100%;
    height: 780px;
}

.sub_img_each {
    position: relative;
    float: left;
    margin: 5px;
    left: 10px;
    height: auto;
    text-align: center;
}

.sub_info {
    position: relative;
    width: 450px;
    height: 100px;
    text-align: center;
}

.sub_info>h4 {
    font-weight: 500;
    font-size: 0.8rem;
}

.sub_info>span {
    position: absolute;
    top: -2px;
    right: 3px;
}

.sub_info>p>.color_box_01 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 40px;
    left: 212px;
    background-color: beige;
    border: 1px solid lightgray;
}

.sub_info>p>.color_box_02 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 40px;
    left: 227px;
    border: 1px solid lightgray;
    background-color: rgb(26, 39, 0);
}

.sub_info>p>.color_box_03 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 40px;
    left: 212px;
    border: 1px solid lightgray;
    background-color: blue;
}

.sub_info>p>.color_box_04 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 40px;
    left: 216px;
    border: 1px solid lightgray;
    background-color: rgb(173, 195, 236);
}

.sub_info>p>.color_box_05 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 40px;
    left: 200px;
    background-color: #FFF;
    border: 1px solid lightgray;
}

.sub_info>p>.color_box_06 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 40px;
    left: 215px;
    background-color: darkolivegreen;
    border: 1px solid lightgray;
}
.sub_info>p>.color_box_07 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 40px;
    left: 222px;
    border: 1px solid lightgray;
    background-color: rgb(173, 195, 236);
}


.sub_info>p>.color_box_08 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 40px;
    left: 214px;
    border: 1px solid lightgray;
    background-color: gray;
}


.sub_info>p:nth-child(3) {
    width: 450px;
    height: 20px;
    line-height: 20px;
}


.sub_info>p:nth-child(4) {
    width: 450px;
    height: 20px;
}

.sub_info>p:nth-child(5) {
    font-size: 0.7rem;
    color: rgb(0, 0, 0);
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.sub_info>p:nth-child(6) {
    color: #fff;
    width: 60px;
    margin: 0 auto;
    height: 18px;
    font-size: 0.7rem;
    background-color: black;
}




#footer_all {
    position: relative;
    width: 100%;
    top: 50px;
    height: 131px;
    padding: 30px;
    font-weight: 550;
    color: black;
    background-color: rgb(255, 255, 255);
}

#footer_all>ul {
    position: relative;
    float: left;
    width: 800px;
    margin-right: 20px;
}

#footer_all>ul>li {
    position: relative;
    float: left;
    font-size: 0.9rem;
    margin-right: 15px;
}

#footer_all>ul>li>a {
    color: black;
}

#footer_all>p {
    position: absolute;
    left: 30px;
    top: 50px;
    font-size: 0.9rem;
}

.footer_r {
    position: absolute;
    right: 30px;
    text-align: right;
    top: 15px;
}